%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %link{:rel => "icon", :type => "image/png", :href => "../assets/img/favicon.png"}
    %meta{:content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', :name =>'viewport'}
    // Fonts and icons
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700,200", :rel => "stylesheet"}
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"}
    %title FourOnTheFloor
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
  %body
    .container-fluid.text-center
      = yield
      / = debug(params) if Rails.env.development?
      %footer{:class => 'footer'}
        .container
          %nav
            %ul
              %li
                = link_to 'About Us', '/no_where'
          .copyright
            &copy;
            :javascript
              document.write(new Date().getFullYear())
